@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    font-family: "Space Mono", serif;
}

.marquee-container {
    position: relative;
    overflow: hidden;
  }
  
  .marquee-container::before,
  .marquee-container::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 40%; /* Adjust as needed for gradient size */
    pointer-events: none;
    z-index: 10;
  }
  
  .marquee-container::before {
    left: 0;
    background: linear-gradient(to right, black, transparent);
  }
  
  .marquee-container::after {
    right: 0;
    background: linear-gradient(to left, black, transparent);
  }
  